.chat-container.close {
  position: absolute; 
  height: 100%;
  width: 60px;
  right: 0;
  overflow: hidden;
  transition: width 0.1s ease;
  background-color: #282c34;
  display: grid;
  grid-template-areas: 
     "chat-top";
  grid-template-rows: 40px;
  border: 2px solid rgba(255, 0, 0, 0);

  
}

.chat-container {
    width: 400px;  
    height: 120vh; 
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* 确保内部内容超出时隐藏 */
    font-family: 'Arial', sans-serif; /* 使用简洁的无衬线字体 */
    font-size: 14px; /* 设定字体大小 */
    color: #333; /* 深色文本 */
    background-color: #f9f9f9; /* 浅色背景 */
}

/*************** chat top container ************/
.chat-top-container {
    display: grid;
    grid-template-columns: 40px 4fr;
    gap: 5px;
    height: 30px;
    padding: 4px 4px 4px 4px;
    margin-bottom: 10px; 
    grid-area: chat-top;
}

.chat-top-container.close {
    position: absolute;
    display: grid;
    height: 30px;
    grid-area: chat-top;
    
}

.close-button {
    height: 100%;
    opacity: 0.7;
    border: 2px solid rgba(255, 0, 0, 0);
}

.open-button {
    height: 100%;
    opacity: 0.7;
    border: 2px solid rgba(255, 0, 0, 0);
    background-color: #14161a;
    color: #fbfafa;
    fill: #fbfafa;
}

.notification-badge {
    position: relative;
    display: inline-block;
  }

.notification-badge .badge {
position: absolute;
top: -7px;
left: -6px;
background-color: rgb(240, 25, 25);
color: white;
border-radius: 50%;
padding: 3px 5px;
font-size: 8px;
}

/*************** chat window container ************/
.chat-window {
    flex: 1;
    overflow-y: auto; /* 消息多时可滚动 */
    padding: 10px;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px; /* 消息内边距 */
    background-color: #f7f4f4; /* 消息背景颜色 */
    border-radius: 4px; /* 圆角 */
    line-height: 1.4; /* 行高 */
    box-shadow: 0 1px 2px rgba(0,0,0,0.1); /* 轻微的阴影增加层次感 */
    text-align: left;
    grid-area: chat-window;
}

.chat-window.close {
    position: absolute;
    display: none;
    width: 0px;
    height: 0px;
}
.chat-message-other {
    margin: 10px; /* 为每个聊天消息添加间距 */
    align-items: flex-start; /* 垂直居中对齐 */
    text-align: left;
    max-width: 50%;
    width: auto;
}
.chat-message-current {
    margin: 10px; /* 为每个聊天消息添加间距 */
    align-items: flex-start; /* 垂直居中对齐 */
    text-align: right;
    max-width: 50%;
    margin-left: auto;
    width: auto;
}
  
.user {
    font-weight: bold; /* 用户名称加粗 */
    margin-right: 5px; /* 用户名称和消息之间的间距 */
    color: #393a3b; /* 用户名称文本颜色 */
    font-size: 10px;
}
  
.message-other {
    background-color: #E0E0E0; /* 消息背景颜色 */
    padding: 10px; /* 消息内边距 */
    border-radius: 5px; /* 圆角边框 */
    overflow-wrap: break-word;
    display: inline-block;
    max-width: 70%;
}

.message-current {
    background-color: #73e57d; /* 消息背景颜色 */
    padding: 10px; /* 消息内边距 */
    border-radius: 5px; /* 圆角边框 */
    overflow-wrap: break-word;
    display: inline-block;
    max-width: 70%;
}

/*************** chat input container ************/
.chat-input-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 5px;
    padding: 4px 4px 4px 4px;
    margin-bottom: 5px; 
    grid-area: chat-input;
}
.chat-input-container.close {
    position: absolute;
    display: none;
    width: 0px;
    height: 0px;
}

.messageInput {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
}

.sendButton {
    height: 100%;
}